---
permalink: /search-index.json
eleventyExcludeFromCollections: true
---
{% set currentLocale = locale | default(site.locale) | default("en-US") %}
{{ games.games | searchIndexRecords(currentLocale) | json | safe }}
